<html>
<head>
<title>FusionCharts 테스트</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FusionCharts.js 추가  -->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/app/fusioncharts/fusioncharts.js"></script>
<script src="/js/app/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>


<script src="/js/app/fusioncharts/jquery-fusioncharts.js"></script>

<script>
const dataSource = {
		  chart: {
		    caption: "Pv 노출량",
		    subcaption: " 소제목	",
		    numbersuffix: " PV",
		    showsum: "1",
		    plottooltext:
		      "$label produces <b>$dataValue</b> from $seriesName",
		    theme: "fusion",
		    drawcrossline: "1"
		  },
		  categories: [
		    {
		      category: [
		        {
		          label: "일반광고"
		        },
		        {
		          label: "타겟팅광고"
		        },
		        {
		          label: "통합"
		        },
		        {
		          label: "하우스pv"
		        },
		        {
		          label: "제휴광고"
		        },
		        {
		          label: "검색광고"
		        }
		      ]
		    }
		  ],
		  dataset: [
		    {
		      seriesname: "WiderPlanet",
		      data: [
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "790"
		        },
		        {
		          value: "0"
		        }
		      ]
		    },
		    {
		      seriesname: "Mobon",
		      data: [
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "720"
		        },
		        {
		          value: "0"
		        }
		      ]
		    },
		    {
		      seriesname: "Criteo",
		      data: [
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "570"
		        },
		        {
		          value: "0"
		        }
		      ]
		    },
		    {
		      seriesname: "Google",
		      data: [
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "440"
		        },
		        {
		          value: "0"
		        }
		      ]
		    },
		    {
		      seriesname: "Interworks",
		      data: [
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "0"
		        },
		        {
		          value: "230"
		        },
		        {
		          value: "0"
		        }
		      ]
		    },
		    {
			      seriesname: "normal",
			      data: [
			        {
			          value: "3000"
			        },
			        {
			          value: "2500"
			        },
			        {
			          value: "1400"
			        },
			        {
			          value: "2400"
			        },
			        {
			          value: "0"
			        },
			        {
			          value: "1900"
			        }
			      ]
			    }
		  ]
		};

		FusionCharts.ready(function() {
		  var myChart = new FusionCharts({
		    type: "stackedcolumn2d",
		    renderAt: "chart-container",
		    width: "100%",
		    height: "100%",
		    dataFormat: "json",
		    dataSource
		  }).render();
		});

</script>
<script charset="utf-8"
	src="/js/app/fusioncharts/fusioncharts.charts.js"></script>
</head>



<body>
	<div style="height: 700px;" id="chart-container"></div>





</body>
</html>